div.mucus-cl-btn,
div.mucus-cl-btn > .mucus-cl-icon {
  height: 16px;
  width: 9px;
  cursor: pointer;
}

div.mucus-cl-btn {
  background-color: transparent;
  display: inline-block;
  margin-right: 10px;
}

div.mucus-cl-btn > .mucus-cl-icon {
  display: block;
  background-position: left top;
  background-repeat: no-repeat;
}
